/* SMITH */


/* END-SMITH */


/* ALYSSA */


/* END-ALYSSA */


/* DUY */


/* END-DUY */


/* SEAN */

.issue-table li.issue:hover {
    filter: brightness(97%);
}

.issue-table .filter {
    display: flex;
    justify-content: end;
}


/* END-SEAN */