/* SMITH */


/* END-SMITH */


/* ALYSSA */


/* END-ALYSSA */


/* DUY */


/* END-DUY */


/* SEAN */

.issue-table li.issue:hover {
    filter: brightness(97%);
}

.issue-table .filter {
    display: flex;
    justify-content: space-between;
}

.issue-table li.issue i {
    color: green;
}

@media screen and (max-width: 600px) {
    .issue-table {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 800px) {
    .issue-table {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1000px) {
    .issue-table {
        transform: scale(1);
    }
}

@media screen and (max-width: 900px) {
    .issue-table {
        transform: scale(0.9);
    }
}


/* END-SEAN */