/* SMITH */
#logo-img{
    border-radius: 100%;
    padding:2px;
    background-color: white;
}

#logo-img:hover{
    padding:0px;
    background-color: transparent;
}


#search-bar{
    min-width: 250px;
    font-size: small;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search-bar:hover{
    width: 300px%;
}

/* END-SMITH */


/* ALYSSA */
.alySpacing {
    margin-bottom: 20px;
}

/* END-ALYSSA */


/* DUY */


/* END-DUY */


/* SEAN */


/* END-SEAN */