/* SMITH */
#logo-img{
    border-radius: 100%;
    padding:2px;
    background-color: white;
}

#logo-img:hover{
    padding:0px;
    background-color: transparent;
}


#search-bar{
    min-width: 250px;
    font-size: small;
    transition: transform .2s; 
}

#search-bar:hover{
    transform: width(1.5);
}

/* END-SMITH */


/* ALYSSA */
.alySpacing {
    margin-bottom: 20px;
}

/* END-ALYSSA */


/* DUY */


/* END-DUY */


/* SEAN */


/* END-SEAN */