/* SMITH */
#logo-img{
    border-radius: 100%;
    padding:2px;
    background-color: white;
}

#search-bar{
    min-width: 250px;
    font-size: small;
}
/* END-SMITH */


/* ALYSSA */
.alySpacing {
    margin-bottom: 20px;
}

/* END-ALYSSA */


/* DUY */


/* END-DUY */


/* SEAN */


/* END-SEAN */